<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/combo/{{version}}/?css/vendor.css&css/anim.css&/css/style.css" type="text/css">
    <link rel="index" title="{title}" href="http://www.akshali.me">
</head>
<body>
    <header class="LightText">
        <a class="D-ib Fl-l" href="/"><h1 class="D-ib">Vaishali + Akshay</h1></a>
        <a href="#menu" class="menu-link Fl-r">
            <img width="20" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYAQAAAAC6w2LjAAAAAnRSTlMAAHaTzTgAAAAXSURBVHgBY/zPwMDwEQvJAAL4SVroBQCTQhdZIO+EIAAAAABJRU5ErkJggg==" alt="Menu toggle" class="pure-img"/>
        </a>
        <nav>
            <ul>
                {{#each nav}}
                <li class="Fw-b {{#eq id compare=../active}}active{{/eq}}">
                    <a class="D-b" href="{{url}}">{{label}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
    </header>
    <div id="main">
        {{{body}}}
    </div>
<script async src="/combo/{{version}}/?js/vendor.js&js/main.js&js/timeline.js&js/maps.js"></script>
<script>window.csrfToken = '{{csrf}}';</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50429954-1', 'akshali.me');
  ga('send', 'pageview');

</script>
</body>
</html>